version: '3.8'

services:
  db:
    image: postgres:16.0
    env_file: .env
    environment:
      POSTGRES_DB: hakatonDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./app
      dockerfile: Dockerfile
    env_file: .env
    command: uvicorn main:app --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "5500:5500"
    depends_on:
      - backend
    volumes:
      - ./front:/app
    # environment:
      # - SERVER_NAME=astutely-harmonious-saury.cloudpub.ru

volumes:
  postgres_data:
